<template id="about-template">
  <section class="about-section" id="about">
    <div class="about-content">
      <div class="about-content-box">
        <div class="about-image-box">
          <div class="about-image-container">
            <img src="/assets/lobos.jpg" alt="Description of image">
          </div>
        </div>
        <div class="about-text-content">
          <h3>Who Are We?</h3>
          <p>JCS Homes is a family-owned and operated custom home remodeling company located in Northern Virginia. We have been serving the DMV community for over 20 years, and we are committed to high-quality remodels that meet the wants and desires of our clients.</p>
        </div>
      </div>
    </div>
  </section>
</template>
