<template id="footer-template">
    <section class="footer" id="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="assets/logo.webp" alt="Company Logo">
            </div>
            <div class="footer-content">
                <div class="footer-info">
                    <h4>JCS Homes LLC</h4>
                    <p>Email: owner@jcshomesllc.com</p>
                    <p>Phone: (703) 687-5788</p>
                    
                </div>
                <div class="footer-links">
                    <h4>Quick Links</h4>
                    <p>Home</p>
                    <p>Services</p>
                    <p>Products</p>
                </div>
                <div class="footer-social">
                    <h4>Social Media</h4>
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Google</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 JCS Homes LLC. All rights reserved.</p>
        </div>
    </section>
</template>
