<template id="hero-template">
    <section class="hero">
      <div class="hero-content">
        <h1>YOUR HOME.</h1>
        <h1>YOUR WAY.</h1>
        <button class="quote-button">Get Quote</button>
      </div>
    </section>
      <section class="pitch">
        <div class="pitch-content">
          <h1 class="pitch-text">Turn your house into your dream home</h1>
          <div class="line"></div>
          <p class="pitch-paragraph">JCS Homes is family-owned and operated custom home remodeling company located in Northern Virginia. We have been serving the DMV community for over 20 years, and we are committed to designing high quality homes that meet the wants and desires of our clients.</p>
        </div>
      </section>
  </template>
  