<template id="hero-template">
    <section class="hero">
      <div class="hero-content">
        <h1>YOUR HOME.</h1>
        <h1>YOUR WAY.</h1>
        <button class="quote-button">Get Quote</button>
      </div>
    </section>
      <section class="pitch">
        <div class="pitch-content">
          <h1 class="pitch-text">Turn your house into your dream home</h1>
          <div class="line"></div>
          <p class="pitch-paragraph">Experience exceptional remodeling services with JCS Homes LLC. Our expert team is dedicated to exceeding your expectations and bringing your vision to life. Trust us to be your partner in creating the perfect project for your home, business, or community.</p>
        </div>
      </section>
  </template>
  