<template id="projects-template">
    <section class="projects" id="projects">
      <div class="projects-content">
        <h2>OUR PROJECTS</h2>
        <div class="project-list">
          <!-- Example project -->
          <div class="project-item">
            <h3>Project Title 1</h3>
            <p>Description of project 1. This project involved...</p>
          </div>
          <div class="project-item">
            <h3>Project Title 2</h3>
            <p>Description of project 1. This project involved...</p>
          </div>
          <div class="project-item">
            <h3>Project Title 3</h3>
            <p>Description of project 1. This project involved...</p>
          </div>
          <!-- Add more projects as needed -->
        </div>
      </div>
    </section>
</template>
