<template id="remodels-template">
    <section id="remodels">
        <h1>Remodels</h1>
        <div class="remodels">
            <div class="remodel-item">
                <img src="/assets/home.jpg" alt="Description of image 1">
                <h3>Home</h3>
            </div>
            <div class="remodel-item">
                <img src="/assets/bathroom.jpg" alt="Description of image 2">
                <h3>Bathroom</h3>
            </div>
            <div class="remodel-item">
                <img src="/assets/kitchen.jpg" alt="Description of image 3">
                <h3>Kitchen</h3>
            </div>
            <div class="remodel-item">
                <img src="/assets/basement.jpg" alt="Description of image 4">
                <h3>Basement</h3>
            </div>
        </div>
    </section>
</template>
