<template id="whyus-template">
  <section class="whyus" id="whyus">
    <div class="whyus-content">
      <div class="content-box">
        <div class="text-content">
          <h2>OUR SERVICES</h2>
        </div>
        <div class="service-list">
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/paint.webp" alt="Paint">
            </div>
            <div class="service-text">
              <h3>Paint</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/drywall.webp" alt="Drywall">
            </div>
            <div class="service-text">
              <h3>Drywall</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/windows.webp" alt="Windows">
            </div>
            <div class="service-text">
              <h3>Windows</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/tiling.webp" alt="Tiling">
            </div>
            <div class="service-text">
              <h3>Tiling</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/bathroom.webp" alt="Bathroom">
            </div>
            <div class="service-text">
              <h3>Bathroom</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/deck.webp" alt="Deck">
            </div>
            <div class="service-text">
              <h3>Deck</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/basement.webp" alt="Basement">
            </div>
            <div class="service-text">
              <h3>Basement</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/kitchen.webp" alt="Kitchen">
            </div>
            <div class="service-text">
              <h3>Kitchen</h3>
            </div>
          </div>
          <div class="service-item">
            <div class="image-container">
              <img src="/assets/wash.webp" alt="Wash">
            </div>
            <div class="service-text">
              <h3>Power Wash</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
