<template id="whyus-template">
  <section class="whyus" id="whyus">
    <div class="whyus-content">
      <div class="content-box">
        <div class="text-content">
          <h2>Why remodel with JCS?</h2>
          <p>the most important aspect of a job is vision. we take the time out to understand your needs and wants. we keep you looped in on the project and we are transparent with all job related scheduling and expenses.</p>
        </div>
        <div class="image-box">
          <div class="image-container">
            <img src="/assets/b1.jpeg" alt="Description of image">
          </div>
        </div>
      </div>
    </div>
    <div class="content-box-container">
      <section class="licbox">
        <div class="image-box">
          <div class="lic-image-container">
            <img src="/assets/ntca.png" alt="Description of image">
          </div>
        </div>
      </section>
      <section class="licbox">
        <div class="image-box">
          <div class="lic-image-container">
            <img src="/assets/leadsafe.png" alt="Description of image">
          </div>
        </div>
      </section>
      <section class="licbox">
        <div class="image-box">
          <div class="lic-image-container">
            <img src="/assets/certify.png" alt="Description of image">
          </div>
        </div>
      </section>
    </div>
  </section>
</template>