<template id="about-template">
    <section class="about" id="about">
      <div class="about-content">
        <h2>ABOUT US</h2>
        <p>At Affordable Remodeling, we take care of all your home improvement needs. Drywall, Painting, Flooring, and more. We take your ideas and make them our next project.</p>
        <p>Our team of professionals are here to help you with your next project. We are dedicated to providing you with the best service and quality work.</p>
        <button class="quote-button">Test</button>
      </div>
    </section>
  </template>