.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
    margin-right: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 20px;
    flex-wrap: wrap;
}

.footer-info, .footer-links, .footer-social {
    margin: 0 20px;
    flex: 1;
    min-width: 200px;
}

.footer-info h4, .footer-links h4, .footer-social h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-info p, .footer-links p, .footer-social a {
    margin: 5px 0;
    font-size: 16px;
    color: #bbb;
}

.footer-social a {
    display: block;
    text-decoration: none;
    color: #bbb;
}

.footer-social a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

.footer-bottom p {
    margin: 0;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        margin-left: 0;
    }

    .footer-info, .footer-links, .footer-social {
        margin: 10px 0;
        min-width: 100%;
    }

    .footer-info h4, .footer-links h4, .footer-social h4 {
        font-size: 16px;
    }

    .footer-info p, .footer-links p, .footer-social a {
        font-size: 14px;
    }

    .footer-bottom {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .footer-info, .footer-links, .footer-social {
        margin: 5px 0;
    }

    .footer-info h4, .footer-links h4, .footer-social h4 {
        font-size: 14px;
    }

    .footer-info p, .footer-links p, .footer-social a {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}
