.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 1em;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: white;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .nav .nav-link {
  display: none; /* Hide navigation links on all screen sizes */
}

.header .nav .quote-button {
  display: block; /* Ensure the contact button is displayed */
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .nav-link {
    display: none; /* Hide navigation links on mobile */
  }

  .quote-button {
    margin-left: auto;
  }
}
