.whyus {
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.whyus-content {
  width: 98%;
  min-height: 60vh;
}

.content-box {
  display: flex;
  padding: 20px;
}

.text-content {
  flex: 1;
  padding-right: 20px;
  background-color: #781C45;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.service-list {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.service-item {
  width: calc(33.333% - 15px);
  box-sizing: border-box;
  text-align: center;
}

.service-text {
  margin-top: 5px;
}

.service-text h3 {
  font-size: 20px;
  margin: 0;
}

.text-content, .image-box {
  flex: 1;
}

.image-container {
  background-color: white;
  padding: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 150px;
}
