:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  
  --color-light: #213547;
  --color-dark: rgba(255, 255, 255, 0.87);
  --background-light: #ffffff;
  --background-dark: #242424;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg: #1a1a1a;
  --button-hover-border: #646cff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color-dark);
  background-color: var(--background-dark);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-hover-border);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.logo img {
  max-width: 100px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav .quote-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;

}

.nav .quote-button:hover {
  background-color: #0056b3;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('src/assets/hero-image.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 1.5em;
  margin: 0;
}

.hero p {
  font-size: 1.5em;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-light);
    background-color: var(--background-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
